.App-logo {
  height: 10vmin;
  pointer-events: none;
  margin: 40px;
}

.App-header {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-body {
  display: flex;
  justify-content: center;
  align-items: center;
}
