*{
    color: white;
    font-weight: 200;
}
.calculator-view {
    height: 700px;
    width: 400px;
    background-color: black;
}

.input-output-screen {
    margin-top:30px;
    margin-bottom: 20px;
}

.input-output-screen input {
    border: none;
    outline: none;
    background-color: black;
    width: 90%;
    text-align: right;
    font-size: 4rem;
}

.key-buttons {
    margin:10px;
}

button {
    width: 80px;
    height: 80px;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background-color: #333;
    font-size: 2rem;
    margin: 7px;
}

.orangeButton {
    background-color: #ffa228;
}

.largeButton {
    width: 178px;
}